<html>
<head>
</head>
<body>
  Choose a file to upload:
  <form action="/upload" method="post" enctype="multipart/form-data">
    <label for="game_name">game name:<input id="game_name" name="game_name" type="text" /></label><br />
    <label for="sgf">file:<input id="sgf" name="sgf" type="file" /></label><br />
    <input type="submit" value="Send" />
  </form>
</body>
</html>
